@import "tailwindcss";

.root {
  --font-IBM_Plex_Sans: 'IBM Plex Sans', sans-serif;
  --font-Source_Serif_4: 'Source Serif 4', serif;
  --font-DM_Mono: 'DM Mono', monospace;
  --primary-color: #151419; 
  --secondary-color: #F9FAF9; 
}