@layer base {
  h1 {
    @apply text-[clamp(3.8rem,9vw,9rem)] leading-[1.1];
  }
  
  h2 {
    @apply text-[clamp(2.441rem,5vw,3.052rem)] leading-[1.2];
  }
  
  h3 {
    @apply text-[clamp(1.953rem,4vw,2.441rem)] leading-[1.3];
  }
  
  h4 {
    @apply text-[clamp(1.563rem,3vw,1.953rem)] leading-[1.4];
  }
  
  p.large {
    @apply text-[clamp(1.25rem,2vw,1.563rem)] leading-relaxed;
  }
  
  p {
    @apply text-[clamp(1rem,1.5vw,1.25rem)] leading-relaxed;
  }
  
  small {
    @apply text-[clamp(0.8rem,1vw,1rem)] leading-normal;
  }
}